
:root {
    --border-style: 1px solid #777;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #222;
    background-color: #f9f9f9;
}


header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 1rem;
}

.banner {
    background-color: #e0f0ff;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}


main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
}

main h2 {
    grid-column: 1 / 3;
    text-align: left;
    font-size: 1.8rem;
}


.callout {
    background-color: #0055a4;
    color: #ffffff;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1rem;
}


a:link,
a:visited {
    color: navy;
}

a:hover {
    color: purple;
}

a:active {
    color: navy;
}


div.datatable {
    border: var(--border-style);
}

div.col {
    border-right: var(--border-style);
}

div.col:last-child {
    border-right: none;
}

div.row:last-child {
    background-color: #aaa;
}


ol li::marker {
    content: "✔️ ";
    color: navy;
    font-size: 2rem;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    main h2 {
        grid-column: 1;
    }
}