
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #222;
    background-color: #f9f9f9;
}

header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 1rem;
}

.hero {
    max-width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

main {
    padding: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}

main h2 {
    color: #004080;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    header h1 {
        font-size: 1.4rem;
    }
}