/* Basic Color Schema and Typography */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
legend {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: auto;
    background-color: #efac3e;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #d18e2b;
}