

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header { 
    display:block;
    background-color: #003366;
    color: white;
    padding: 1rem;
    text-align: center;

}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    display: flex;
    text-align: center;
}

nav a{
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;

}

main {
    
    padding: 1rem;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}